#finland{
    background-image: url(../images/finlandextent.png);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1200px;
    width: 1500px;
    background-size: cover;
    z-index: -1;
}
#country{
    color: rgb(0,77,168);
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
    position: Fixed;
    top: 375px;
    left: 250px;
    z-index: 1;
}

/*IMAGE POPUPS*/
.circle{
    background-image: url(../images/circle.png);
    height: 25px;
    width: 25px;
    background-size:cover;
    cursor: pointer;
}
.image{
    position: fixed;
    background-size: cover;
    display: none;
    top: 50%;
    left: 50%;
    height: 750px;
    width: 1000px;
    z-index: 2;
    transform: translate(-50%, -50%);  
}
.infoicon{
    position: fixed;
    background-image: url(../images/info.png);
    background-size: cover;
    display: none;
    height: 50px;
    width: 50px;
    z-index: 3;
    cursor: pointer;
}

/*INFO POPUPS*/
.infobackground {
    position: fixed;
    width: 400px;
    height: 400px;
    background: rgba(211,211,211,0.9);
    z-index: 3;
    top: 350px;
    left: 775px;
    display: none;
}
.info {
    position: fixed;
    background-size: cover;
    display: none;
    width: 400px;
    height: 400px;
    z-index: 4;
    top: 350px;
    left: 775px;
    
}

/*NAVIGATION BAR*/
.container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 30px;
}
.navbar{
    position: Fixed;
    width: 1100;
    height: 100;
    top: 40px;
    left: 30px;
    color: rgb(0,92,230);
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    display: none;
}

a:link {
    color: rgb(0,92,230);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(0,92,230);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(0,77,168);
    background-color: transparent;
    text-decoration: none;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: rgb(0,92,230);
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px) ;
    transform: rotate(-45deg) translate(-7px, 5px) ;
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
    transform: rotate(45deg) translate(-7px, -7px) ;
}

/*POINT LOCATIONS*/
#rovaniemiloc{
    position: absolute;
    top:450px;
    left:740px;
}
#kakslauttanenloc{
    position: absolute;
    top:240px;
    left:830px;
}
#dogsleddingloc{
    position: absolute;
    top:645px;
    left:745px;
}
#icebreakerloc{
    position: absolute;
    top:575px;
    left:710px;
}
#nuuksioloc{
    position: absolute;
    top:1140px;
    left:695px;
}
#katajanokkaloc{
    position: absolute;
    top:1150px;
    left:730px;
}
#korouomaloc{
    position: absolute;
    top:490px;
    left:840px;
}
#alpokoivumakiloc{
    position: absolute;
    top:925px;
    left:600px;
}
#kummakiviloc{
    position: absolute;
    top:980px;
    left:900px;
}
#treriksrosetloc{
    position: absolute;
    top:140px;
    left:513px;
}

/*INFO ICONS*/
#rovaniemiicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#kakslauttanenicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#dogsleddingicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#icebreakericon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#nuuksioicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#katajanokkaicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#korouomaicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#alpokoivumakiicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#kummakiviicon{
    position: fixed;
    top: 710px;
    left: 225px;
}
#treriksroseticon{
    position: fixed;
    top: 710px;
    left: 225px;
}