body {
    height:1675px;
}

/*Cover page*/
#worldmap svg {
    position: absolute;
    top: 98px;
    left: 1035px;
    background:rgba(0,0,0,0);
    border-radius: 200px;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
/*    height:90px;*/
/*    width:90px;*/
}
.land {
  fill: rgba(255,255,255,1);
}
#downarrow{
    background-image: url(../images/whitearrow.png);
    color: white;
    position: absolute;
    height: 50px;
    width: 75px;
    top: 700px;
    left: 660px;
    background-size: cover;
}
#cover{
    background-image: url(../images/Cover.jpg);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 800px;
    width: 1400px;
    background-size: cover;
}
#covertext{
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 100px;
    position: absolute;
    top:0px;
    left:500px;
    z-index: 1;
}

/*Map Page*/
#infopara {
    color: rgb(0,92,230);
    font-size: 20px;
    font-family: 'PT Serif', serif;
    position: absolute;
    top: 870px;
    left: 250px;
    height: 200px;
    width: 550px;
    z-index: 1;
}
#mapextent{
    background-image: url(../images/backgroundmap3.png);
    position: absolute;
    top: 800px;
    left: 0px;
    height: 900px;
    width: 1400px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/*Country Labels*/
.country {
    color: rgb(0, 77, 168);
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}
#Iceland{
    position: absolute;
    top:1212px;
    left:160px;    
}
#Finland{
    position: absolute;
    top:1315px;
    left:1190px;    
}
#Norway{
    position: absolute;
    top:1390px;
    left:800px;    
}
#Sweden{
    position: absolute;
    top:1100px;
    left:1020px;    
}

/*Credits*/
.credits{
    background-color: rgb(0,0,0,0);
    height: 25px;
    width: 60px;
    position: absolute;
    top:1655px;
    left:1270px;
    color: rgb(0,92,230);
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    z-index: 3;
}
.creditimg{
    position: fixed;
    height: 700px;
    width: 950px;
    top: 50px;
    left: 245px;
    z-index: 2;
    display: none;
}
.creditclose{
    background-image: url(../images/close.png);
    background-size: cover;
    position: fixed;
    height: 25px;
    width: 25px;
    top: 50px;
    left: 1165px;
    z-index: 3;
    display: none;
}

/*Country Outlines*/
.outline {
  fill:rgb(0,92,230);
  fill-opacity: 0;
  stroke: rgb(0,77,168);
  stroke-opacity: 1;
  stroke-width: 1.5;
}
  .outline:hover {
    fill:rgb(0,92,230);
    fill-opacity: .7;
  }
#map{
    position: absolute;
    top:851px; 
    left:62px;
}